<launch>
    <node name="stage" pkg="stage_ros" type="stageros"
	      args="$(find lab1)/world/pursuer.world"/>

  <node name="evader" pkg="lab1" type="evader_brain_2.py"></node>

  <node name = "broadcast1" pkg = "lab1" type = "broadcast.py" output = "screen">
  </node>
  <node name = "broadcast2" pkg = "lab1" type = "broadcast2.py" output = "screen"/>

  <node name="pursuer" pkg="lab1" type="pursuer.py"></node>

</launch>
